[submodule "libimobiledevice"]
	path = libimobiledevice
	url = https://github.com/libimobiledevice/libimobiledevice
[submodule "libimobiledevice-glue"]
	path = libimobiledevice-glue
	url = https://github.com/libimobiledevice/libimobiledevice-glue
[submodule "libirecovery"]
	path = libirecovery
	url = https://github.com/libimobiledevice/libirecovery
[submodule "libplist"]
	path = libplist
	url = https://github.com/libimobiledevice/libplist
[submodule "libusb"]
	path = libusb
	url = https://github.com/libusb/libusb.git
[submodule "libusbmuxd"]
	path = libusbmuxd
	url = https://github.com/libimobiledevice/libusbmuxd
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
[submodule "newt"]
	path = newt
	url = https://pagure.io/newt.git
[submodule "popt"]
	path = popt
	url = https://github.com/rpm-software-management/popt.git
[submodule "readline"]
	path = readline
	url = https://git.savannah.gnu.org/git/readline.git
[submodule "slang"]
	path = slang
	url = git://git.jedsoft.org/git/slang.git
